#landing_page .jumbotron {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#landing_page .jumbotron h1 i {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--highlight-purple);
}


#landing_page .carousel.row {
    margin-left: 2rem;
    margin-right: 2rem;
}

#landing_page .carouselParent {
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--border-grey);
    padding-bottom: 2em;
}

#landing_page .carouselParent > h3{
    margin-left: 2rem;
    margin-top: 1rem;
}

#landing_page .carousel .row .card {
    margin: auto;
}

#landing_page .carousel-card-small a {
    color: black;
    padding: 0;
    margin: 0;
}

#landing_page .carousel-card-small a:hover {
    text-decoration: none;
    color: black;
}

#landing_page .carousel-controls {
    justify-content: center;
}

#landing_page .carousel-controls a {
    margin: 0.1rem 1rem;
    box-shadow: none;
}

#landing_page .carousel-controls a:active {
    box-shadow: none;
}

#landing_page .carousel-controls a:hover {
    box-shadow: none;
}

#landing_page .carousel-controls a:visited {
    box-shadow: none;
}

#landing_page .btn {
    background-color: var(--highlight-purple);
    border: 1px solid rgba(158, 158, 158, 0.267);
}

#landing_page .btn:hover {
    background-color: var(--highlight-purple-darker);
}

.add-margin{
    margin-bottom: 2em;
}