#landing_page .jumbotron {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#landing_page .carousel {
    border: 1px solid black;
}

#landing_page .carousel.row {
    margin-left: 2rem;
    margin-right: 2rem;
}

#landing_page .carouselParent {
    margin-bottom: 4rem;
}

#landing_page .carouselParent > h3{
    margin-left: 2rem;
    margin-top: 1rem;
}

#landing_page .carousel .row .card {
    margin: auto;
}

#landing_page .carousel-card-small a {
    color: black;
}

#landing_page .carousel-card-small a:hover {
    text-decoration: none;
    color: black;
}

#landing_page .carousel-controls {
    justify-content: center;
}

#landing_page .carousel-controls a {
    margin: 0 1rem;
    box-shadow: none;
}

#landing_page .carousel-controls a:active {
    box-shadow: none;
}

#landing_page .carousel-controls a:hover {
    box-shadow: none;
}

#landing_page .carousel-controls a:visited {
    box-shadow: none;
}