#landing_page .jumbotron {
    padding-bottom: 1rem;
}

.carousel {
    border: 1px solid black;
}

.carousel.row {
    margin-left: 2rem;
    margin-right: 2rem;
}

.carouselParent {
    margin-bottom: 5rem;
}

.carouselParent > h3{
    margin-left: 2rem;
    margin-top: 1rem;
}

.carousel .row .card {
    margin: auto;
}

.carousel-card-small a {
    color: black;
}

.carousel-card-small a:hover {
    text-decoration: none;
    color: black;
}

.carousel .carousel-control-prev, .carousel .carousel-control-next {
    background-color: black;
    width: 5%;
    position: relative;
}