#login-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
}

#login-container .form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

#login-container .form-signin .checkbox {
  font-weight: 400;
}

#login-container .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#login-container .form-signin .form-control:focus {
  z-index: 2;
}

#login-container .form-signin .checkbox {
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#login-container .form-signin input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-right: 0.5rem;
}

#login-container .form-signin .form-group {
  text-align: left;
}

#login-container .btn-google {
  color: white;
  background-color: #ea4335;
}

#login-container .btn-google:hover {
  background-color: #bb382c;
}

#login-container .btn-primary {
  color: white;
  background-color: var(--highlight-purple);
  border: none;
}

#login-container .btn-primary:hover {
  background-color: var(--highlight-purple-darker);
}

#login-container .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

#forgot-password {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#register-prompt {
    text-align: left;
}

#register-prompt p {
    margin-bottom: 0rem;
}

#login-img img {
    max-width: 100%;
    box-shadow: 0 0 10px 4px rgba(58, 8, 105, 0.616);
}

#login-img .jumbotron {
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 0;
}

#login-container a {
  color: var(--highlight-purple);
}