:root {
    --highlight-purple: #660066;
    --highlight-purple-darker: #520352;
    --border-grey: rgb(235,235,235);
    --border-gray: rgb(235,235,235);
    --olive: #9AB973;
    --olive-darker: #7b945c;
}

.bg-purple {
    background-color: var(--highlight-purple) !important;
}

.color-purple {
    color: var(--highlight-purple) !important;
}

.bg-olive {
    background-color: var(--olive) !important;
}

.color-olive {
    color: var(--olive) !important;
}

.btn-purple {
    color: white;
    background-color: var(--highlight-purple);
    border: none;
}
  
.btn-purple:hover {
    color: white;
    background-color: var(--highlight-purple-darker);
    border: 0;
}
  
.btn-purple:focus {
    box-shadow: 0 0 0 0.2rem none; /*#660066;*/
}

.btn-olive {
    color: white;
    background-color: var(--olive);
    border: none;
}
  
.btn-olive:hover {
    color: white;
    background-color: var(--olive-darker);
}
  
.btn-olive:focus {
    box-shadow: none; /*0 0 0 0.2rem #9AB973;*/
}