button{
    margin-left: 1em;
}

#product-details{
    margin-bottom: 1em;
    border-bottom: 1px solid var(--border-gray);
    padding-bottom: 1em;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#bid-placer{
    margin-top: 1em;
}

.card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}