.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}

.thumbnails {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.thumbnails li {
    margin: 0 12px 12px 0;
    float: left;
}

.thumbnail {
    padding: 6px;
    border: 1px solid #ddd;
}

.thumbnails img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.select2 {
    width: 100% !important;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: var(--olive) !important;
    color: white !important;
    font-weight: 700;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
}