.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: var(--highlight-purple);
  font-weight: 800;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar li:hover {
  background-color: #eee;
}

.certification_actions button{
  width: 100%;
}

.moderator-delete {
  height: 100%;
  width: 100%;
}

.moderator-card .btn-danger {
  height: 100%;
  width: 100%;
}

.moderator-card h5 {
  margin-bottom: 0;
}

.add-moderator-card .btn-success {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {

  .moderator-card .card-body {
    padding-bottom: 0;
  }
  .moderator-card .moderator-delete .card-body {
    padding-bottom: 1.25rem;
  }
}
