.btn-link{
    color: #000;
}

.btn-link:hover{
    color: #000;
}

.card .card-header h5 button span{
    color: var(--highlight-purple);
    font-family: inherit;
}

.card .card-header h5 button {
    color: var(--olive-darker);
}

.card .card-body a {
    color: var(--highlight-purple);
}

.card .card-body a:hover {
    color: var(--highlight-purple-darker);
}