#landing-page .carousel.row {
    margin-left: 2rem;
    margin-right: 2rem;
}

#landing-page .carouselParent {
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--border-grey);
    padding-bottom: 2em;
}

@media (min-width: 768px) { 
	.card-image-sexy{
			height: 15vw !important;
			object-fit: cover !important;
	}
}
#landing-page .carouselParent:last-child {
    border-bottom: none;
    margin-bottom: 2rem;
}

#landing-page .carouselParent > h3{
    margin-left: 2rem;
    margin-top: 1rem;
}

#landing-page .carousel .row .card {
    margin: auto;
    background-color: #e9ecef;
}

#landing-page .carousel-card-small a {
    color: black;
    padding: 0;
    margin: 0;
}

#landing-page .carousel-card-small a:hover {
    text-decoration: none;
    color: black;
}

#landing-page .carousel-controls {
    justify-content: center;
}

#landing-page .carousel-controls a {
    margin: 0.1rem 1rem;
    box-shadow: none;
}

#landing-page .carousel-controls a:active {
    box-shadow: none;
}

#landing-page .carousel-controls a:hover {
    box-shadow: none;
}

#landing-page .carousel-controls a:visited {
    box-shadow: none;
}

.add-margin{
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {

    .carousel .row > div {
        margin-bottom: 1rem;
    }

    .carousel-controls a {
        width: inherit;
    }
}
