:root {
    --highlight-purple: #801980;
    --highlight-purple-darker: #591259;
    --border-grey: rgb(235,235,235);
    --border-gray: rgb(235,235,235);
    --olive: #9AB973;
    --olive-darker: #69804e;
}

.bg-purple {
    background-color: var(--highlight-purple) !important;
}

.color-purple {
    color: var(--highlight-purple) !important;
}

.bg-olive {
    background-color: var(--olive) !important;
}

.color-olive {
    color: var(--olive) !important;
}

.btn-purple {
    font-family: 'Montserrat';
    color: white;
    background-color: var(--highlight-purple);
    border: none;
}
  
.btn-purple:hover {
    color: white;
    background-color: var(--highlight-purple-darker);
    border: 0;
}
  
.btn-purple:focus {
    box-shadow: 0 0 0 0.2rem none; /*#660066;*/
}

.btn-olive {
    font-family: 'Montserrat';
    color: white;
    background-color: var(--olive);
    border: none;
}
  
.btn-olive:hover {
    color: white;
    background-color: var(--olive-darker);
}
  
.btn-olive:focus {
    box-shadow: none; /*0 0 0 0.2rem #9AB973;*/
}

.section-jumbotron {
    padding-top: 0;
    padding-bottom: 1rem;
}

.section-jumbotron h1 {
    margin-bottom: 0;
}

.section-jumbotron .lead {
    margin-bottom: 0.2rem;
}

.section-jumbotron h1 i {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--highlight-purple);
}

@media only screen and (max-width: 600px) {
    .section-jumbotron h1{
        font-size: 2rem;
    }

    .section-jumbotron p.lead {
        font-size: 1rem;
    }

    .section-jumbotron p {
        font-size: 0.8rem;
    }

    .carousel .row > div {
        margin-bottom: 1rem;
    }

    .carousel-controls a {
        width: inherit;
    }

    
}

a{
    color:default;
}

p{
    line-height:1.4;
}