
.card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


.card-c-element{
    border-bottom: 2px solid var(--border-grey);
}

#price{
    font-size: 2em;
    font-weight: 550;
}

#resize{
    height:auto;
}

.row{
    padding-bottom: 2rem;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#bid-button{
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border: 1px solid var(--highlight-purple);
}

#money {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#bid-button:disabled{
    background-color: var(--highlight-purple);
    opacity: 0.3;
}

#bid-button:disabled:hover{
    background-color: var(--highlight-purple);
}

.color-purple{
    color:var(--highlight-purple);
}

#editAuction {
    border: none;
}

@media print{

    #bid-div{
        display: none;
    }

    .navbar{
        display: flex;
    }

}

#product_info_header {
    padding-bottom: .5rem;
    text-align: center;
}

#product_info_header h3 {
    padding-bottom: 0;
}

.certification-text {
    padding-bottom: 0;
    color: var(--purple);
}

.certification-text h4 {
    font-size: 1.6rem;
    margin-bottom: 0;
}

@media only screen and (max-width: 990px) {

    #bid-button{
        border-radius: .25rem;
    }
    
    #money {
        border-radius: .25rem;
    }
}